@font-face {
  font-family: "AcromBold";
  src: url(../../shared/assets/fonts/Acrom-Bold.woff) format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "AcromMedium";
  src: url(../../shared/assets/fonts/Acrom-Medium.woff) format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "AcromRegular";
  src: url(../../shared/assets/fonts/Acrom-Regular.woff) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "MontserratBold";
  src: url(../../shared/assets/fonts/Montserrat-Bold.ttf) format("truetype");
  font-weight: 700;
}
