@mixin interactiveColor($colorProperty, $color, $percent) {
  @media (hover: hover) {
    &:hover {
      #{$colorProperty}: lighten($color, $percent);
    }
    &:active {
      #{$colorProperty}: darken($color, $percent);
    }
  }

  @media (hover: none) {
    &:active {
      #{$colorProperty}: darken($color, $percent);
    }
  }
}

@mixin scrollbar($color, $width, $trackWidth, $trackColor, $borderRadius: 0) {
  &::-webkit-scrollbar {
    width: $trackWidth !important;
  }

  &::-webkit-scrollbar-corner {
    background: $trackColor !important;
  }

  &::-webkit-scrollbar-track {
    background: $trackColor !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color !important;
    border: $width solid $color !important;
    border-radius: $borderRadius;
  }
}
