@mixin interactive($colorProperty, $color, $percent, $scale) {
  @media (hover: hover) {
    &:hover {
      #{$colorProperty}: lighten($color, $percent);
      cursor: pointer;
      scale: $scale;
    }
    &:active {
      #{$colorProperty}: darken($color, $percent);
      scale: 1;
    }
  }

  @media (hover: none) {
    &:active {
      #{$colorProperty}: lighten($color, $percent);
      scale: $scale;
    }
  }
}
