.card {
  min-width: 19.6875rem;
  height: 100%;
  padding: 1rem;
  border-radius: $border-radius-image;
  box-shadow: $box-shadow-base;
  transition: background-color 0.5s ease;
  background-color: $color-background-main;

  & * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      background-color: $color-background-translucent;
    }
  }

  @media (hover: none) {
    &:active {
      background-color: $color-background-translucent;
    }
  }

  &__image {
    border-radius: $border-radius-image;
    aspect-ratio: $aspect-ratio-poster !important;
  }
}
