.text {
  width: 100%;

  &_color_black {
    color: $color-font-black;
  }

  &_color_dark_blue {
    color: $color-font-dark-blue;
  }

  &_color_blue {
    color: $color-font-blue;
  }

  &_color_light_gray {
    color: $color-font-light-gray;
  }

  &_color_gray {
    color: $color-font-gray;
  }

  &_color_yellow {
    color: $color-font-yellow;
  }

  &_color_white {
    color: $color-font-white;
  }

  &_color_pink {
    color: $color-font-pink;
  }

  &_color_transcluent {
    color: $color-font-translucent;
  }

  &_align_start {
    text-align: start;
  }

  &_align_center {
    text-align: center;
  }

  &_align_end {
    text-align: end;
  }

  &_family_regular {
    font-family: $font-acrom-regular;
  }

  &_family_medium {
    font-family: $font-acrom-medium;
  }

  &_family_bold {
    font-family: $font-acrom-bold;
  }

  &_size_small {
    font-size: $size-font-small;
  }

  &_size_normal {
    font-size: $size-font-normal;
  }

  &_size_big {
    font-size: $size-font-big;
  }

  &_size_extra_big {
    font-size: $size-font-extra-big;
  }

  &_size_titles_extra_small {
    font-size: $size-font-title-extra-small;
  }

  &_size_titles_small {
    font-size: $size-font-title-small;
  }

  &_size_titles_medium {
    font-size: $size-font-title-medium;
  }

  &_size_titles_big {
    font-size: $size-font-title-big;
  }
}
