.button {
  display: flex;
  justify-content: center;
  border-radius: $border-radius-button;
  transition:
    scale 0.5s ease,
    color 1s ease,
    background-color 1s ease;
  border: none;
  text-wrap: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      scale: 1.02;
    }

    &:active {
      scale: 1;
    }
  }

  @media (hover: none) {
    &:active {
      scale: 1.02;
    }
  }

  &_normal {
    font-size: $size-font-normal;
    font-family: $font-acrom-medium;
    padding: 10px 2.8125rem;
    min-width: 190px;

    @media screen and (width < 600px) {
      min-width: 100%;
    }
  }

  &_contained {
    color: $color-font-white;

    &_pink {
      background-color: $color-btn-pink;
      @include interactiveColor(background-color, $color-btn-pink, 5%);
    }

    &_dark_blue {
      background-color: $color-btn-dark-blue;
      @include interactiveColor(background-color, $color-btn-dark-blue, 5%);
    }

    &_white {
      color: $color-btn-dark-blue;
      background-color: $color-btn-white;
      @include interactiveColor(background-color, $color-btn-white, 5%);
    }

    &_gray {
      color: $color-btn-white;
      background-color: $color-btn-gray;

      @include interactiveColor(background-color, $color-btn-gray, 5%);
    }
  }

  &_outlined {
    background-color: transparent;

    &_pink {
      color: $color-font-pink;
      border: 1px solid $color-btn-pink;

      @include interactiveColor(color, $color-font-white, 5%);
      @include interactiveColor(background-color, $color-btn-pink, 5%);
    }

    &_dark_blue {
      color: $color-btn-dark-blue;
      border: 1px solid $color-btn-dark-blue;

      @include interactiveColor(color, $color-font-white, 5%);
      @include interactiveColor(background-color, $color-btn-dark-blue, 5%);
    }

    &_white {
      color: $color-btn-white;
      border: 1px solid $color-btn-white;

      @include interactiveColor(color, $color-font-dark-blue, 5%);
      @include interactiveColor(background-color, $color-btn-white, 5%);
    }

    &_gray {
      color: $color-btn-gray;
      border: 1px solid $color-btn-gray;

      @include interactiveColor(color, $color-font-white, 5%);
      @include interactiveColor(background-color, $color-btn-gray, 5%);
    }
  }

  &_text {
    background-color: transparent;

    &_pink {
      color: $color-font-pink;
      @include interactiveColor(color, $color-font-pink, 5%);
    }

    &_dark_blue {
      color: $color-font-dark_blue;
      @include interactiveColor(color, $color-font-dark_blue, 5%);
    }

    &_white {
      color: $color-btn-white;

      @include interactiveColor(color, $color-btn-white, 5%);
    }

    &_gray {
      color: $color-btn-gray;

      @include interactiveColor(color, $color-btn-gray, 5%);
    }
  }
}
