.button {
  display: flex;
  justify-content: center;
  border-radius: var(--border-radius-button);
  transition: transform 0.2s ease;
  font-size: var(--size-font-normal);
  font-family: var(--font-acrom-medium);
  border: none;
  padding: 10px 45px;

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      transform: scale(1.02, 1.02);
    }

    &:active {
      transform: scale(1, 1);
    }
  }

  @media (hover: none) {
    &:active {
      transform: scale(1.02, 1.02);
    }
  }

  &_contained {
    color: var(--color-font-white);

    &_pink {
      background-color: var(--color-btn-pink);
    }

    &_dark_blue {
      background-color: var(--color-btn-dark-blue);
    }
  }

  &_outlined {
    background-color: transparent;

    &_pink {
      color: var(--color-font-pink);
      border: 1px solid var(--color-btn-pink);

      @media (hover: hover) {
        &:hover {
          color: var(--color-font-white);
          background-color: var(--color-btn-pink);
        }

        &:active {
          color: var(--color-font-pink);
          background-color: transparent;
        }
      }

      @media (hover: none) {
        &:active {
          color: var(--color-font-white);
          background-color: var(--color-btn-pink);
        }
      }
    }

    &_dark_blue {
      color: var(--color-btn-dark-blue);
      border: 1px solid var(--color-btn-dark-blue);

      @media (hover: hover) {
        &:hover {
          color: var(--color-font-white);
          background-color: var(--color-btn-dark-blue);
        }

        &:active {
          color: var(--color-btn-dark-blue);
          background-color: transparent;
        }
      }

      @media (hover: none) {
        &:active {
          color: var(--color-font-white);
          background-color: var(--color-btn-dark-blue);
        }
      }
    }
  }

  &_text {
    background-color: transparent;

    &_pink {
      color: var(--color-font-pink);
    }

    &_dark_blue {
      color: var(--color-font-dark_blue);
    }
  }
}
