.container {
  gap: 2rem !important;
  overflow: hidden;

  @media screen and (width < 800px) {
    flex-direction: column !important;
    align-items: center !important;
    gap: 1rem !important;
  }

  &_visible {
    overflow: visible;
  }
}
