@mixin iconColor($color) {
  fill: $color;

  &_interactive {
    @include interactiveColor(fill, $color, 20%);
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;

  &_interactive {
    transition:
      scale 0.3s ease,
      fill 0.3s ease;

    @media (hover: hover) {
      &:hover {
        cursor: pointer;
        scale: 1.05;
      }

      &:active {
        scale: 1;
      }
    }

    @media (hover: none) {
      &:active {
        scale: 1.05;
      }
    }
  }

  &_gray {
    @include iconColor($color-btn-gray);
  }
  &_translucent {
    @include iconColor($color-btn-translucent);
  }
  &_white {
    @include iconColor($color-btn-white);
  }
  &_dark_blue {
    @include iconColor($color-btn-dark-blue);
  }

  &_small {
    width: 20px;
    height: 20px;
  }

  &_normal {
    width: 28px;
    height: 28px;
  }

  &_big {
    width: 30px;
    height: 30px;
  }

  &_bottom {
    /* This should be default direction of all icons */
  }

  &_right {
    transform: rotate(-90deg);
  }

  &_top {
    transform: rotate(180deg);
  }

  &_left {
    transform: rotate(90deg);
  }
}
