.section {
  width: 100%;

  &__container {
    &_main {
      @media screen and (width < 1200px) {
        gap: 10px !important;
        flex-direction: column !important;
        align-items: center !important;
      }
    }

    &_columns {
      @media screen and (width < 1200px) {
        gap: 20px !important;
      }
    }
  }

  &__image {
    border-radius: $border-radius-image;
    -o-object-fit: cover;
    object-fit: cover;
    aspect-ratio: $aspect-ratio-poster;

    &_preview {
      max-height: 35.8125rem;
      max-width: 30.125rem;
    }

    &_full {
      max-height: 40.625rem;
      max-width: 30.125rem;
    }
  }

  &__title {
    @media screen and (width < 1200px) {
      font-size: $size-font-title-medium !important;
    }
  }
}
